.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 20px auto;
  padding: 5px 10px;
  width: fit-content;

  h3 {
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    .submitBtn {
      cursor: pointer;
      border: none;
      border-radius: 10px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      background-color: rgb(25, 118, 210);
      color: #fff;
    }
  }
}
