.button {
    font-size: 0.875rem;
    line-height: 1.75;
    max-width: 200px;
    width: fit-content;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    transition: ease-in-out 0.3s;
    color: #fff;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    margin-left: 15px;
    padding: 6px 16px;
    border-radius: 4px;
    border-width: 1px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    }

    
}